HOST=127.0.0.1
PORT=3333
NODE_ENV=development

APP_NAME=AdonisJs
APP_URL=http://${HOST}:${PORT}
APP_BASEPATH=http://www.alexmadeira.com.br:${PORT}

CACHE_VIEWS=false

APP_KEY=

DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis

HASH_DRIVER=bcrypt

AWS_ACCESS_KEY=AKIAIE6NLTW3YBQF6B3Q
AWS_SECRET_ACCESS_KEY=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
